<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/contact">Contact-Us</a>
                </li>
                <li>
                    <a href="/service">Services</a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
         <h3 class="start">
             We are new but there is alot of way to contact us.
         </h3>
         <p class="contact">
            You can join us by our phone number :+1 234 532 06 or +221 77 65 45 712  <br> -------- <br>
            we also have e-mail : Tradi-M2021@tradimedecine.com
         </p>
         <p> 
              <a id="Fac" href="#" class="fa fa-facebook">  </a> Tradi Medecine 
              <a href="#" class="fa fa-twitter"></a> @tradi_Med 
              <a href="#" class="fa fa-youtube"></a> Tradi Medecine Officiel <br> <br>
              <a href="#" class="fa fa-instagram"></a> Tradi__Med
              <a href="#" class="fa fa-snapchat-ghost"></a> MedTra2021 
              <a href="#" class="fa fa-pinterest"></a> Tradi-medecine
        </p>
        <p class="contact"> We have a group of doctors who will answer to all you question . <br><br> You can also take an appointment by calling us</p>
    </section>
</body>
    <footer>
        <p class="footer">All right reserved . New York - United state of America <br> <br>
        2022 &copy; Tradi-Medecine.com</p>
    </footer>
   

</html>