<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="Nav">
            <ul>
                <li class="Nav1">
                    <a class="home" href="/">Home</a>
                </li>
                <br>
                <li class="Nav2">
                    <a class="C-U" href="/contact">Contact-Us</a>
                </li>
                <br>
                <li class="Nav3">
                    <a href="/service">Service</a>
                </li>
            </ul>
        </nav>
     </header>
        <H2 class="text">Welcome in the official site of Tradi-Medicine </H2>
        <img class="pic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZdG4xzxhPtwYWrghieYMZ5OuoTWgb8JTO8A&usqp=CAU" alt="pic">
        <section>
            <p class="container">
                Today we see that medecine in very complicated and has alot of chimicaly composant . So we decide to create our own brand with less chimicaly composant named : TRADI-MEDICINE and that's why we are
                always next to you: to help them find the best
                possible care. Anytime, anywhere. <br> ------------ <br>
                   We also help doctors to better manage their practice
                and build their own traditional drugs. With our integrated
                end-to-end solution,
                doctors are able not only to improve their online presence,
                but also to improve their experience
            </p>
        </section>       
   
        
   
</body>
<footer>
    <p class="footer-4">All right reserved . New York - United state of America <br> <br>
        2022 &copy; Tradi-Medecine.com</p>
</footer>
</html>