<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" >
    <title>Document</title>
</head>
<body>
    <p class="emoji"> &#128533;</p>
    <p class="secret"> Unfortunately , our website is closed right now. <br>
        But let me give you a secret: <p class="secret-2"> We are open from Monday to Friday , from 9am to 5pm <br>we are waiting for you </p>
    </p>
</body>
<footer>
    <p class="footer-3">All right reserved . New York - United state of America <br> <br>
        2022 &copy; Tradi-Medecine.com</p>
</footer>
</html>