<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" >
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/contact">Contact-Us</a>
                </li>
                <li>
                    <a href="/service">Service</a>
                </li>
            </ul>
        </nav>
    </header>
   <section>
       <h3 class="contact"> Our services</h3>
       <p class="text">You'll usually need a GP referral to access hospital treatment, except in an emergency.</p>
       <p class="text">Hospital treatment is free if you're ordinarily resident in the US. <br>

        If you're visiting United State or recently moved to United State,you will have 50% off.
        
        The services and treatments listed below are free in Tradi Medecine in United State, including overseas visitors:.</p>
        <p class="text-2">A&E services – but not emergency treatment once you've been admitted to hospital. <br>---- <br>
            family planning services – but not termination of pregnancy or infertility treatment . <br> ---- <br>
            treatment for most infectious diseases, including sexually transmitted infections (STIs). <br> ---- <br>
            treatment required for a physical or mental condition caused by torture, female genital mutilation, domestic violence or sexual violence – this does not apply if you've come to England to seek this treatment unless you've applied for, or have been granted, asylum status</p>
   </section>
</body>

<footer>
    <p class="footer-2">All right reserved . New York - United state of America <br> <br>
        2022 &copy; Tradi-Medecine.com</p>
</footer>
</html>